// {{PROJECT_NAME}}UITests.swift
{{LICENSE_HEADER}}
import XCTest

final class {{PROJECT_NAME}}UITests: XCTestCase {
    @MainActor func testAppLaunches() throws {
        let app = XCUIApplication()
        app.launch()
        XCTAssertTrue(app.windows.firstMatch.waitForExistence(timeout: 10))
    }
}
